*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  width: 100vw;
  height: 100vh;
}
.container{
  width: 70vw;
  margin: auto;
  border: 1px solid white;
}
.on{
  background-color: #F0E68C;
}
.off{
  background-color: #2F4F4F;
}
.room,.temp{
  width: 40%;
  margin: auto;
  text-align: center;
  border: 1px solid blue;
}