*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  width: 100vw;
  height: 100vh;
}
.container{
  width: 70vw;
  margin: auto;
  border: 1px solid white;
}
.on{
  background-color: #F0E68C;
  color: #2F4F4F;
}
.off{
  background-color: #2F4F4F;
  color: #F0E68C;
}
.room,.temp{
  width: 40%;
  margin: auto;
  text-align: center;
  border: 1px solid blue;
}
button{
  width: 100px;
  height: 30px;
  margin: 0px 5px 5px 0px;
  font-weight: bold;
  background-color: #2F4F4F;
  color: #F0E68C;
  border-radius: 10px;
  outline: none;
}